NODE_ENV=development
PORT=5000

MONGO_URI=mongodb+srv://MasumRaza89:masum1805A@masumraza.qjpiwch.mongodb.net/eventnest?retryWrites=true&w=majority

JWT_SECRET=your-super-secret-jwt-key-change-in-production

RAZORPAY_KEY_ID=rzp_test_YOUR_KEY_ID
RAZORPAY_KEY_SECRET=your_test_secret

FRONTEND_URL=http://localhost:3000
TICKET_SECRET=eventnest-ticket-secret-change-in-production